{% extends "base.html" %}
{% load static %}

{% block title %}문의 상세 | VOXLIBER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/legal_pages.css' %}">
{% endblock %}

{% block content %}
<div class="detail-wrapper">
    <h1>문의 상세</h1>

    <div class="detail-item">
        <label>이름 / 이메일</label>
        <div>{{ contact.user.nickname  }} / {{ contact.user.username}}</div>
    </div>

    <div class="detail-item">
        <label>제목</label>
        <div>{{ contact.subject }}</div>
    </div>

    <div class="detail-item">
        <label>내용</label>
        <div>{{ contact.message|linebreaksbr }}</div>
    </div>

    <div class="detail-item">
        <label>상태</label>
        <div><span class="status {{ contact.status }}">{{ contact.get_status_display }}</span></div>
    </div>

    {% if contact.answer %}
    <div class="detail-item">
        <label>답변</label>
        <div>{{ contact.answer|linebreaksbr }}</div>
    </div>
    {% endif %}

    <div class="detail-item">
        <label>작성일</label>
        <div>{{ contact.created_at|date:"Y.m.d H:i" }}</div>
    </div>

    <div class="detail-item">
        <label>최종 수정일</label>
        <div>{{ contact.updated_at|date:"Y.m.d H:i" }}</div>
    </div>

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
