{% extends "base.html" %}
{% load static %}

{% block title %}공지사항 | VOXLIBER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/legal_pages.css' %}">
{% endblock %}

{% block content %}
<div class="notice-wrapper">
    <h1>공지사항</h1>
    {% if notices %}
    <ul class="notice-list">
        {% for notice in notices %}
        <li class="notice-item">
            <a href="{% url 'notice_detail' notice.public_uuid %}">{{ notice.title }}</a>
            <span class="notice-date">{{ notice.created_at|date:"Y.m.d" }}</span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>등록된 공지사항이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
