{% extends "base.html" %}
{% load static %}

{% block title %}개인정보 처리방침 | VOXLIBER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/legal_pages.css' %}">
{% endblock %}

{% block content %}
<div class="policy-wrapper">

    {% if policy %}
    <div class="policy-header">
        <h1>{{ policy.title }}</h1>
        <div class="date">
            시행일 : {{ policy.created_at|date:"Y.m.d" }}
        </div>
    </div>

    <div class="policy-content">
        {{ policy.content }}
    </div>
    {% else %}
    <p>등록된 개인정보 처리방침이 없습니다.</p>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
