{% extends "base.html" %}
{% load static %}

{% block title %}이용약관 | VOXLIBER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main/legal_pages.css' %}">
{% endblock %}

{% block content %}
<div class="terms-wrapper">

    {% if terms %}
    <div class="terms-header">
        <h1>{{ terms.title }}</h1>
        <div class="date">
            시행일 : {{ terms.created_at|date:"Y.m.d" }}
        </div>
    </div>

    <div class="terms-content">
        {{ terms.content }}
    </div>
    {% else %}
    <p>등록된 이용약관이 없습니다.</p>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
